* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}
.container {
  width: 100%;
  height: 100%;
}

.landpage {
  width: 100vw;
  height: 100vh;
}
header {
  width: 100vw;
  height: 10%;
  display: flex;
  /* color: #dfaf67; */
  color: antiquewhite;
  background-color: chocolate;
}

header div {
  width: 50%;
  height: 100%;
}
header div ul {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

header div ul li {
  list-style-type: none;
}

header div ul :hover {
  text-decoration: underline;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: antiquewhite;
}

.logoDiv img {
  width: 10%;
  height: 100%;
}

.landpageKontakt {
  width: 100vw;
  height: 90%;
  background-color: wheat;
  align-items: center;
}
.landpageKontakt h1,
h3 {
  text-align: center;
  padding: 10px;
  color: black;
}

.landpageKontakt h1 {
  font-size: xx-large;
}

.mainKontakt {
  width: 95%;
  height: 82%;
  background-color: chocolate;
  margin: 0% 2%;
  display: flex;
  box-shadow: 15px 10px 17px 0px rgba(0, 0, 0, 0.75);
}

.mainKontakt div {
  width: 50%;
  height: 100%;
}

.kontaktLeft {
  color: antiquewhite;
  padding: 5px;
  font-size: large;
}

.kontaktLeft h2,
p {
  margin: 5px 0px;
}

.kontaktRight {
  color: antiquewhite;
  padding: 5%;
}

input {
  width: 90%;
  height: 25px;
}

label {
  display: block;
  font-size: x-large;
}
.kontaktRight form button {
  width: 100px;
  height: 30px;
  background-color: antiquewhite;
  color: chocolate;
  border: none;
  margin-left: 40%;
  cursor: pointer;
}

/* -----foooteeerrrr------------ */

footer {
  width: 100vw;
  height: 10vw;
  background-color: wheat;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
}

.footerLeft {
  width: 30%;
  height: 100%;
}
.footerLeft ul li {
  list-style-type: none;
  margin: 5px;
}
.footerLeft ul li:hover {
  background-color: chocolate;
  font-weight: bold;
}
.footerLeft ul li a {
  color: black;
}
.footerCenter {
  width: 30%;
  height: 100%;
}
.footerCenter ul li {
  list-style-type: none;
  margin: 8px;
}

.footerRight {
  width: 30%;
  height: 100%;
}

.footerRight p {
  position: relative;
  top: 40%;
}

#instagram,
#facebook,
#twitter,
#github {
  font-size: x-large;
  padding: 5px;
  margin-left: 15px;
}

.nav-link.active {
  text-decoration: underline;
  font-weight: bolder;
  font-style: italic;
}
