* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}
.container {
  width: 100%;
  height: 100vh;
}

.landpage {
  width: 100vw;
  height: 100vh;
}
header {
  width: 100vw;
  height: 10%;
  display: flex;
  color: antiquewhite;
  background-color: chocolate;
}

header div {
  width: 50%;
  height: 100%;
}
header div ul {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

header div ul li {
  list-style-type: none;
}

header div ul :hover {
  text-decoration: underline;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: antiquewhite;
}

.logoDiv img {
  width: 10%;
  height: 100%;
}

.landpageOautoru {
  width: 100vw;
  height: 90%;
  /* border: 1px solid red; */
  background-color: wheat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart {
  width: 80%;
  height: 80%;
  background-color: chocolate;
  border-radius: 20%;
  padding: 3%;
}

.cart h1 {
  text-align: center;
  font-size: xx-large;
  color: antiquewhite;
}

.cart img {
  width: 20%;
  height: 80%;
  border-radius: 10%;
  margin-left: 10px;
}

.mainCart {
  display: flex;
  color: antiquewhite;
  /* flex-wrap: wrap; */
}

.mainCart p {
  padding: 2%;
  font-size: x-large;
}
.mainCart img {
  margin-top: -120px;
}

.icons {
  position: relative;
  top: 20px;
  /* border: 1px solid black; */
}

/* -----foooteeerrrr------------ */

footer {
  width: 100vw;
  height: 10vw;
  background-color: chocolate;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
}

.footerLeft {
  width: 30%;
  height: 100%;
}
.footerLeft ul li {
  list-style-type: none;
  margin: 5px;
}
.footerLeft ul li:hover {
  background-color: chocolate;
  font-weight: bold;
}
.footerLeft ul li a {
  color: black;
}
.footerCenter {
  width: 30%;
  height: 100%;
}
.footerCenter ul li {
  list-style-type: none;
  margin: 8px;
}

.footerRight {
  width: 30%;
  height: 100%;
}

.footerRight p {
  position: relative;
  top: 40%;
}

#instagram,
#facebook,
#twitter,
#github {
  font-size: x-large;
  padding: 5px;
  margin-left: 15px;
}
