* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}
.container {
  width: 100vw;
  height: 100%;
}

.landpage {
  width: 100vw;
  height: 100vh;
  background-image: url(../photos/lion.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
header {
  width: 100vw;
  height: 10%;
  display: flex;
  /* color: #dfaf67; */
  color: antiquewhite;
}

header div {
  width: 50%;
  height: 100%;
}
header div ul {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

header div ul li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: antiquewhite;
}
.logoDiv img {
  width: 20%;
  height: 200%;
  margin-top: -1rem;
}

header div ul :hover {
  text-decoration: underline;
  cursor: pointer;
}

.landpageSection {
  width: 100vw;
  height: 90vh;

  color: antiquewhite;
}

.landpageSection h1 {
  font-size: 3rem;
  margin-top: 20%;
  margin-left: 10px;
}

.landpageSection p {
  font-size: 1.3rem;
  margin-left: 15px;
}

.secondSection {
  width: 100vw;
  height: 90vh;
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: chocolate;
}

.secondSection div {
  width: 27%;
  height: 80%;
  /* border: 1px solid red; */
  border-radius: 5%;
  padding: 1%;
  background-color: wheat;
  box-shadow: 15px 10px 17px 0px rgba(0, 0, 0, 0.75);
}

.secondSection div img {
  width: 100%;
  height: 40%;
  border-radius: 5%;
}
.secondSection div h2,
p {
  text-align: center;
  margin: 10px;
}

/* -----foooteeerrrr------------ */

footer {
  width: 100vw;
  height: 10vw;
  background-color: wheat;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
}

.footerLeft {
  width: 30%;
  height: 100%;
}
.footerLeft ul li {
  list-style-type: none;
  margin: 5px;
}
.footerLeft ul li:hover {
  background-color: chocolate;
  font-weight: bold;
}
.footerLeft ul li a {
  color: black;
}
.footerCenter {
  width: 30%;
  height: 100%;
}
.footerCenter ul li {
  list-style-type: none;
  margin: 8px;
}

.footerRight {
  width: 30%;
  height: 100%;
}

.footerRight p {
  position: relative;
  top: 40%;
}

#instagram,
#facebook,
#twitter,
#github {
  font-size: x-large;
  padding: 5px;
  margin-left: 15px;
}
