* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100%;
}

.landpage {
  width: 100vw;
  height: 100vh;
  background-image: url(../photos/lion.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
header {
  width: 100vw;
  height: 10%;
  display: flex;
  /* color: #dfaf67; */
  color: antiquewhite;
}

header div {
  width: 50%;
  height: 100%;
}
header div ul {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

header div ul li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: antiquewhite;
}
.logoDiv img {
  width: 20%;
  height: 200%;
  margin-top: -1rem;
}

header div ul :hover {
  text-decoration: underline;
  cursor: pointer;
}

.landpageSection {
  width: 100vw;
  height: 90vh;
  border: 1px solid red;
  color: antiquewhite;
}

.landpageSection h1 {
  font-size: 3rem;
  margin-top: 20%;
  margin-left: 10px;
}

.landpageSection p {
  font-size: 1.3rem;
  margin-left: 15px;
}
