* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}
.container {
  width: 100%;
  height: auto;
}

.landpage {
  width: 100vw;
  height: auto;
}
header {
  width: 100vw;
  height: 10%;
  display: flex;
  /* color: #dfaf67; */
  color: antiquewhite;
  background-color: chocolate;
}
.lista {
  height: 100%;
}
header div {
  width: 50%;
  height: 100%;
}
header div ul {
  height: 10vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

header div ul li {
  list-style-type: none;
}

header div ul :hover {
  text-decoration: underline;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: antiquewhite;
}

.logoDiv img {
  width: 10%;
  height: 100%;
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: wheat;
}

section h1 {
  text-align: center;
  margin: 10px;
}

section div {
  width: 80%;
  height: 35vh;
  /* border: 1px solid black; */
  margin: 10px 0px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: chocolate;
  box-shadow: 15px 10px 17px 0px rgba(0, 0, 0, 0.75);
}

section div p {
  padding: 10px;
  font-size: larger;
  color: antiquewhite;
}
section div img {
  height: 100%;
  width: 30%;
  border-radius: 10px;
}

.viseOovome {
  font-style: italic;
  color: lightblue;
  text-decoration: underline;
}

/* -----foooteeerrrr------------ */

footer {
  width: 100vw;
  height: 10vw;
  background-color: chocolate;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
}

.footerLeft {
  width: 30%;
  height: 100%;
}
.footerLeft ul li {
  list-style-type: none;
  margin: 5px;
}
.footerLeft ul li:hover {
  background-color: chocolate;
  font-weight: bold;
}
.footerLeft ul li a {
  color: black;
}
.footerCenter {
  width: 30%;
  height: 100%;
}
.footerCenter ul li {
  list-style-type: none;
  margin: 8px;
}

.footerRight {
  width: 30%;
  height: 100%;
}

.footerRight p {
  position: relative;
  top: 40%;
}

#instagram,
#facebook,
#twitter,
#github {
  font-size: x-large;
  padding: 5px;
  margin-left: 15px;
}
