* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}
.container {
  width: 100%;
  height: 100%;
}

.landpage {
  width: 100vw;
  height: 100vh;
  background-image: url(../photos/sova.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
header {
  width: 100vw;
  height: 10%;
  display: flex;
  /* color: #dfaf67; */
  color: antiquewhite;
}

header div {
  width: 50%;
  height: 100%;
}
header div ul {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

header div ul li {
  list-style-type: none;
}

header div ul :hover {
  text-decoration: underline;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: antiquewhite;
}

.logoDiv img {
  width: auto;
  height: 100%;
}

.registracijaSection {
  width: 100vw;
  height: 87vh;
  /* border: 1px solid red; */
}

.registracija {
  width: 30%;
  height: 98%;
  background-color: rgb(172, 172, 172, 0.5);
  position: relative;
  left: 60%;
  /* top: 1%; */
  border-radius: 10%;
}
.registracija form p {
  font-size: 15px;
  color: red;
}

.registracija form button a {
  color: black;
}

form h2 {
  text-align: center;
  margin-top: 5%;
  padding-top: 5%;
}

form {
  margin: 5%;
  height: 100%;
  font-size: x-large;
}

form label {
  display: block;
  margin-left: 10%;
}
form button {
  display: block;
  margin: auto;
  margin-top: 5%;
  height: 40px;
  width: 180px;
  border-radius: 10%;
  border-color: gray;
}

form input {
  width: 80%;
  height: 5%;
  margin-left: 10%;
}

/* -----foooteeerrrr------------ */

footer {
  width: 100vw;
  height: 10vw;
  background-color: wheat;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
}

.footerLeft {
  width: 30%;
  height: 100%;
}
.footerLeft ul li {
  list-style-type: none;
  margin: 5px;
}
.footerLeft ul li:hover {
  background-color: chocolate;
  font-weight: bold;
}
.footerLeft ul li a {
  color: black;
}
.footerCenter {
  width: 30%;
  height: 100%;
}
.footerCenter ul li {
  list-style-type: none;
  margin: 8px;
}

.footerRight {
  width: 30%;
  height: 100%;
}

.footerRight p {
  position: relative;
  top: 40%;
}

#instagram,
#facebook,
#twitter,
#github {
  font-size: x-large;
  padding: 5px;
  margin-left: 15px;
}
/* ----------- */
.nav-link.active {
  text-decoration: underline;
  font-weight: bolder;
  font-style: italic;
}
